.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
    border: none;

    width: max-content;
    font-size: 16px;
    font-family: 'DM Mono', monospace;

    text-decoration: none;
    color: #000000;
    padding: 0 40px;
    height: 60px;

    transition: background-color 0.3s, color 0.3s;
}

.button--main {
    background: #8DFD1B;
}

.button--main:hover {
    background: #3f6f0e;
    color: #ffffff;
}

.button--secondary {
    background: transparent;
    color: #8DFD1B;
    border: 2px solid #8DFD1B;
}

.button--secondary:hover {
    background: #8DFD1B;
    color: #000000;
}

.button--search {
    padding: 0 20px;
    height: 30px;
}

.button--user-card {
    padding: 0 20px;
    height: 30px;
}
