{% extends 'base.html' %}

{% block title %}
    {{ request.user.username }}
{% endblock %}


{% block content %}

    <div class="prof-info">

        <h1>{{ user.username }}</h1>

        {% if profile.avatar %}
            <img class="avatar-pic" src="{{ profile.avatar.url }}" alt="XXX" width="350" >
        {% else %}
            <img class="avatar-pic" src="https://ih1.redbubble.net/image.1417647673.2505/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="X" width="350">
        {% endif %}

        {% if user.first_name %}
            <p>First name: {{ user.first_name }}</p>
        {% else %}
            <p>First name: -NONE-</p>
        {% endif %}

        {% if user.last_name %}
            <p>Last name: {{ user.last_name }}</p>
        {% else %}
            <p>Last name: -NONE-</p>
        {% endif %}

        {% if user.email %}
            <p>Email: {{ user.email }}</p>
        {% else %}
            <p>Email: -NONE-</p>
        {% endif %}

        {% if user.bio %}
            <p>Bio: {{ profile.bio }}</p>
        {% else %}
            <p>Bio: -NONE-</p>
        {% endif %}

        {% if user.birth_date %}
            <p>Email: {{ profile.birth_date }}</p>
        {% else %}
            <p>Email: -NONE-</p>
        {% endif %}

        {% if user.location %}
            <p>Location: {{ profile.location }}</p>
        {% else %}
            <p>Location: -NONE-</p>
        {% endif %}

        {% if request.user.id != user.id %}
            {% if if_follow %}
                <p class="invi-text">You already follow {{ user.username }}</p>
                <form method="post">
                    {% csrf_token %}
                    <div><button class="floating-button" type="submit" > Stop follow </button></div>
                </form>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <div><button class="floating-button" type="submit" > Follow </button></div>
                </form>
            {% endif %}
        {% endif %}

    </div>

    <br>
    <hr class="line-prof" size="2" />
    <br>

    {% for item in posts %}

        <div class="posts">

            <a href="{{item.get_absolute_url}}" >
                <img class="img-round" src="{{ item.photo.url }}" alt="X" width="650">
            </a>
            <p >
                <a class="text-post-mr" href="{% url 'get_user' item.user_id %}">{{item.user}}.</a>

            </p>
            <p class="text-post-mr">{{ item.content|truncatewords:15 }}</p>
            <div class="bt-post-mr"><a class="floating-button" href="{{item.get_absolute_url}}" >Open POST</a></div>
            <span class="text-post-mr invi-text">Создано {{item.created_at|timesince}} назад. Просмотров: {{ item.views }}</span>
        </div>

    {% endfor %}

{% endblock %}