{% extends 'base.html' %}

{% block title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}

    <div class="profile-info">
        <div class="profile-info__header">
            <i class="far fa-folder-open"></i>
            {{ user.username }}
        </div>
        <div class="profile-info__left">
            {% if profile.avatar %}
                <img class="profile-info__avatar" src="{{ profile.avatar.url }}" alt="XXX" width="350" >
            {% else %}
                <img
                    class="profile-info__avatar"
                    src="https://ih1.redbubble.net/image.1417647673.2505/st,small,507x507-pad,600x600,f8f8f8.jpg"
                    alt="X"
                    width="350"
                >
            {% endif %}

            {% if request.user.id != user.id %}
                {% if if_follow %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="button button--secondary" type="submit" > Unfollow </button>
                    </form>

                    <div class="profile-info__followed">You're already following {{ user.username }}</div>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="button button--main" type="submit" > Follow </button>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <div class="profile-info__right">
            {% if user.first_name %}
                <p>First name: {{ user.first_name }}</p>
            {% else %}
                <p>First name: <i class="far fa-circle-question text-color--green"></i></p>
            {% endif %}

            {% if user.last_name %}
                <p>Last name: {{ user.last_name }}</p>
            {% else %}
                <p>Last name: <i class="far fa-circle-question text-color--green"></i></p>
            {% endif %}

            {% if user.email %}
                <p>Email: {{ user.email }}</p>
            {% else %}
                <p>Email: <i class="far fa-circle-question text-color--green"></i></p>
            {% endif %}

            {% if profile.bio %}
                <p>Bio: {{ profile.bio|truncatechars:200 }}</p>
            {% else %}
                <p>Bio: <i class="far fa-circle-question text-color--green"></i></p>
            {% endif %}

            {% if profile.birth_date %}
                <p>Email: {{ profile.birth_date }}</p>
            {% else %}
                <p>Email: <i class="far fa-circle-question text-color--green"></i></p>
            {% endif %}

            {% if profile.location %}
                <p>Location: {{ profile.location }}</p>
            {% else %}
                <p>Location: <i class="far fa-circle-question text-color--green"></i></p>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="posts-grid">
        {% for item in posts %}
            <div class="posts-grid__item post">
                <div class="post__content">
                    <div class="post__header">
                        <div class="post__header-box">
                            {{ item.id }}
                        </div>
                        <div class="post__header-content">
                            <span class="post__views">
                                <i class="fas fa-eye"></i>
                                Views: {{ item.views }}
                            </span>

                            <span class="post__created-ago">
                                Created {{item.created_at|timesince}} ago.
                            </span>
                        </div>
                    </div>

                    <div class="post__body">
                        <a href="{{item.get_absolute_url}}" >
                            <img class="post__img img-round" src="{{ item.photo.url }}" alt="post photo">
                        </a>

                        <p>
                            <a class="post__user" href="{% url 'get_user' item.user_id %}">{{item.user}}:</a>
                        </p>

                        <div class="post__title">{{ item.content|truncatewords:15 }}</div>

                        <a class="button button--main" href="{{item.get_absolute_url}}" >
                            Open POST
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}