<div>
    <a href="{% url 'home' %}"> home</a>
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}"> login</a>
        <a href="{% url 'register' %}"> register</a>
    {% else %}
        <span>Hello, <a href="{% url 'my_profile' %}"> {{ request.user.username }}</a></span>
        <a href="{% url 'logout' %}"> logout</a>
        <a href="{% url 'create' %}"> create post</a>
    {% endif %}
</div>

<h1>{{ user.username }}</h1>

{% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="XXX" width="350" >
{% else %}
    <img src="https://ih1.redbubble.net/image.1417647673.2505/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="X" width="350">
{% endif %}

{% if user.first_name %}
    <p>First name: {{ user.first_name }}</p>
{% else %}
    <p>First name: -NONE-</p>
{% endif %}

{% if user.last_name %}
    <p>Last name: {{ user.last_name }}</p>
{% else %}
    <p>Last name: -NONE-</p>
{% endif %}

{% if user.email %}
    <p>Email: {{ user.email }}</p>
{% else %}
    <p>Email: -NONE-</p>
{% endif %}

{% if user.bio %}
    <p>Bio: {{ profile.bio }}</p>
{% else %}
    <p>Bio: -NONE-</p>
{% endif %}

{% if user.birth_date %}
    <p>Email: {{ profile.birth_date }}</p>
{% else %}
    <p>Email: -NONE-</p>
{% endif %}

{% if user.location %}
    <p>Location: {{ profile.location }}</p>
{% else %}
    <p>Location: -NONE-</p>
{% endif %}

{% if request.user.id != user.id %}
    {% if if_follow %}
        <p>You already follow {{ user.username }}</p>
        <form method="post">
            {% csrf_token %}
            <div><button type="submit" > Stop follow </button></div>
        </form>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <div><button type="submit" > Follow </button></div>
        </form>
    {% endif %}
{% endif %}

{% for item in posts %}

    <div>

        <hr align="left" width="700" size="2" color="#ff0000" />

        <p>{{item.user}} </p>
        <p >
            <a href="#">{{item.user}}.</a> Создано {{item.created_at|timesince}} назад.
            Просмотров: {{ item.views }}
        </p>
        {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="X" width="650" height="450">
        {% else %}
            <img src="https://ih1.redbubble.net/image.1417647673.2505/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="X" width="650" height="450">
        {% endif %}
        <p >{{item.content|linebreaks}}</p>

        <p><a href="{{item.get_absolute_url}}" >Open POST</a></p>

        <hr align="left" width="700" size="2" color="#ff0000" />

        <br>
    </div>

{% endfor %}