{% extends 'base.html' %}

{% block title %}
{{ request.user.username }}
{% endblock %}


{% block content %}

{% if request.user.is_authenticated %}
    {% if following_posts %}
        <h1>Your feed:</h1>

        <div class="posts-home">
            {% for item in following_posts %}
                <div class="posts-home__item post">
                    <div class="post__content">
                        <div class="post__header">
                            <div class="post__header-box">
                                {{ item.id }}
                            </div>
                            <div class="post__header-content">
                                <span class="post__views">
                                    <i class="fas fa-eye"></i>
                                    Views: {{ item.views }}
                                </span>

                                <span class="post__created-ago">
                                    Created {{item.created_at|timesince}} ago.
                                </span>
                            </div>
                        </div>

                        <div class="post__body">
                            <a href="{{item.get_absolute_url}}" >
                                <img class="post__img" src="{{ item.photo.url }}" alt="post photo">
                            </a>

                            <p>
                                <a class="post__user" href="{% url 'get_user' item.user_id %}">{{item.user}}:</a>
                            </p>

                            <div class="post__title">{{ item.content|truncatewords:15 }}</div>

                            <div class="">
                                <a class="button button--main" href="{{item.get_absolute_url}}" >
                                    Open POST
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Your feed will be here.</h1>
        <a
            style="text-decoration: underline; color: #6abd16"
            href="/search/?qwery=u"
        >
            SOME USERS IS HERE
        </a>
    {% endif %}
{% else %}
    <h1>Duckie, please, Log In or Sing Up to see your feed!</h1>
{% endif %}



{% endblock %}
