{% extends 'base.html' %}

{% block title %}
{{ request.user.username }}
{% endblock %}


{% block content %}

<div>
    <form action="#"  method="post">
        {% csrf_token %}

        {% comment %}
            {{ form.as_p }}
        {% endcomment %}

        <p>Username: </p>
        <div class="err">{{ form.username.errors }}</div>
        {{ form.username }}

        <p>Pass:</p>
        <div class="err">{{ form.password.errors }}</div>
        {{ form.password }}

        <button class="button button--main" type="submit"> Login </button>
    </form>
</div>

{% endblock %}