{% extends 'base.html' %}

{% block title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}

    <div class="post">
        <div class="post__content">
            <div class="post__header">
                <div class="post__header-box">
                    {{ post.id }}
                </div>

                <div class="post__header-content">
                    <span class="post__views">
                        <i class="fas fa-eye"></i>
                        Views: {{ post.views }}
                    </span>

                    <span class="post__created-ago">
                        Created {{post.created_at|timesince}} ago.
                    </span>
                </div>
            </div>

            <div class="post__body">
                <img class="post__img" src="{{ post.photo.url }}" alt="post photo">

                <p>
                    <a class="post__user" href="{% url 'get_user' post.user_id %}">{{post.user}}:</a>
                </p>

                <div class="post__title">{{ post.content|linebreaksbr }}</div>
            </div>
        </div>
    </div>

    {% if comments %}
        <div class="comments-title">
            <i class="far fa-comment-dots"></i>
            COMMENTS
        </div>

        <div class="comments">
            {% for item in comments %}
                <div class="comments__item comment">
                    <div class="comment__content">
                        <div class="comment__body">
                            <div>
                                <a class="comment__user" href="{% url 'get_user' item.user_id %}">
                                    {{item.user}}
                                </a>
                            </div>

                            <p class="comment__text">
                                {{item.content|linebreaksbr}}
                            </p>
                        </div>


                        <div class="comment__footer">
                            <div class="comment__footer-box">
                                {{ item.id }}
                            </div>

                            <div class="comment__created-at">
                                {{item.created_at}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="comments-title">
            <i class="fas fa-square-xmark"></i>
            NO COMMENTS YET
        </div>
    {% endif %}


    {% if request.user.is_authenticated %}
        <div>
            <form method="post" class="comment-form">
                {% csrf_token %}

                {% for field in form %}
                    <label class="comment-form__label" for="{{ field.auto_id }}">
                        <i class="fas fa-quote-right"></i>
                        Write a {{ field.label }}:
                    </label>

                    {{ field }}
                {% endfor %}

                <button class="button button--secondary" type="submit" > ADD COMMENT </button>
            </form>
        </div>
    {% endif %}

{% endblock %}