{% extends 'base.html' %}

{% block title %}
    {{ request.user.username }}
{% endblock %}


{% block content %}

    <div>
        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}


        {% comment %}
            <p>Username: </p>
            <div class="err">{{ form.username.errors }}</div>
            {{ form.username }}

            <p>Email: </p>
            <div class="err">{{ form.email.errors }}</div>
            {{ form.email }}

            <p>Pass:</p>
            <div class="err">{{ form.password1.errors }}</div>
            {{ form.password1 }}

            <p>Pass2:</p>
            <div class="err">{{ form.password2.errors }}</div>
            {{ form.password2 }}
        {% endcomment %}

            <div><button type="submit"> Register </button></div>
        </form>
    </div>

{% endblock %}