@import "nav.css";
@import "profile-info.css";
@import "post.css";
@import "search.css";
@import "user-card.css";
@import "comment.css";
@import "comment-form.css";
@import "button.css";
@import "utils.css";
@import "menu.css";
@import "input.css";
@import "footer.css";

* {
    box-sizing: border-box;
}

html{
    background-color: #000000;
    font-family: "Roboto", Arial, sans-serif;
    color: #fff;
}

body{
    margin: 0;
    position: relative;
}

.main {
    width: 65%;
    max-width: 1000px;
    margin: 110px auto 100px;
    min-height: 80vh;
}

@media (max-width: 760px) {
    .main {
        width: 95%;
        margin: 50px auto 100px;
    }
}

.new-post {

}

.new-post__content-input {
    height: 155px;
    width: 40%;
}

@media (max-width: 760px) {
    .new-post__content-input {
        width: 90%;
        height: 75px;
    }
}

.posts-grid {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 760px) {
    .posts-grid {
        grid-template-columns: 1fr;
    }
}

.posts-home {
    padding: 25px 0;
}

.posts-home__item:not(:last-child) {
    margin-bottom: 25px;
}

.comments-title {
    text-transform: uppercase;
    font-family: 'DM Mono', monospace;
    font-size: 28px;

    width: max-content;
    padding: 10px 25px;

    background-color: #333333;
    color: #8DFD1B;
    border: 1px solid #8DFD1B;
}

@media (max-width: 760px) {
    .comments-title {
        font-size: 18px;;
    }
}

.comments {
    padding: 30px 0;
}

.comments__item:not(:last-child) {
    margin-bottom: 20px;
}

.user-card-grid {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 760px) {
    .user-card-grid {
        grid-template-columns: 1fr;
    }
}


